<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Trivia game</title>
    {% include 'css.html' %}
    <style>
        h4,
        p {
            color: black;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-3">
                <div class="pull-right">
                    <div class="btn-group">
                        <h2 class="text-white"> Trivia Game
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="products" class="row view-group">
            <div class="item col-xs-4 col-lg-4 mb-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Room: one</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" target="_Blank" href="one/">Enter the room</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mb-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Room: Two</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" target="_Blank" href="two/">Enter the room</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mb-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Room:Three</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" target="_Blank" href="three/">Enter the room</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mb-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Room:Four</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" target="_Blank" href="four/">Enter the room</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mb-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Room: Custom room</h4>
                        <p class="group inner list-group-item-text">
                            Create your own custom room and enter.</p>
                        <div id="login-form" class="form" action="" method="post">
                            <div class="form-group">
                                <label for="username" class="text-info">RoomName:</label><br>
                                <input type="text" name="username" id="txtCustomRoom" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <span class="btn btn-success" id="customRoom">Enter the room</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'js.html' %}
    {% block script %}
    {% endblock %}
    <script>
        document.querySelector('#customRoom').onclick = function (e) {
            let customRoom = document.querySelector('#txtCustomRoom').value;
            if (customRoom.length > 0)
                window.location.pathname = '/game/' + customRoom + '/';
            else
                alert('please enter the room name')
        };
    </script>
</body>
</html>