<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Trivia game</title>
    {% include 'css.html' %}

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-3">
                <div class="pull-right">
                    <div class="btn-group">
                        <h2 class="text-white"> Trivia Game
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="products" class="row view-group">
            <div class="item col-xs-4 col-lg-4 mb-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Room Title</h4>
                            <p class="group inner list-group-item-text">
                                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">                            
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" target="_Blank" href="http://127.0.0.1:8080/game/one/">one</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mb-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Room Title</h4>
                            <p class="group inner list-group-item-text">
                                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">                            
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success"  target="_Blank" href="http://127.0.0.1:8080/game/four/">four</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mb-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Room Title</h4>
                            <p class="group inner list-group-item-text">
                                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">                            
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success"  target="_Blank" href="http://127.0.0.1:8080/game/three">three</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-xs-4 col-lg-4 mb-4">
                <div class="thumbnail card">
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Room Title</h4>
                            <p class="group inner list-group-item-text">
                                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">                            
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success"  target="_Blank" href="http://127.0.0.1:8080/game/two/">two</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% include 'js.html' %}
    {% block script %}
    {% endblock %}

</body>

</html>